<th:block>
  <div class="header-mobile d-md-none">
    <div class="mobile hidden-md-up text-xs-center d-flex align-items-center justify-content-around">

      <!-- menu left -->
      <div id="mobile_mainmenu" class="item-mobile-top">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>

      <!-- logo -->
      <div class="mobile-logo">
        <a th:href="@{/}">
          <img class="logo-mobile img-fluid" th:src="@{/images/home/logo-mobie.png}" alt="Prestashop_Furnitica">
        </a>
      </div>

      <!-- menu right -->
      <div class="mobile-menutop" data-target="#mobile-pagemenu">
        <i class="zmdi zmdi-more"></i>
      </div>
    </div>

    <!-- search -->
    <div id="mobile_search" class="d-flex">
      <div id="mobile_search_content">
        <form method="get" th:action="@{/models-all}">
          <input type="text" name="s" value="" placeholder="Search">
          <button type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</th:block>