<th:block>
    <div class="header-top d-xs-none ">
        <div class="container">
            <div class="row">
                <!-- logo -->
                <div class="col-sm-2 col-md-2 d-flex align-items-center">
                    <div id="logo">
                        <a th:href="@{/}">
                            <img class="img-fluid" th:src="@{/images/home/logo.png}" alt="logo">
                        </a>
                    </div>
                </div>

                <!-- menu -->
                <div class="main-menu col-sm-4 col-md-5 align-items-center justify-content-center navbar-expand-md">
                    <div class="menu navbar collapse navbar-collapse">
                        <ul class="menu-top navbar-nav">
                            <li class="nav-link">
                                <a th:href="@{/}" class="parent">Home</a>
                            </li>
                            <li>
                                <a th:href="@{/add-model}" class="parent">Add model</a>
                            </li>
                            <li>
                                <a th:href="@{/models-all}" class="parent">All models</a>
                            </li>
                            <li>
                                <a th:href="@{/about-us}" class="parent">About us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- search-->
                <div id="search_widget" class="col-sm-6 col-md-5 align-items-center justify-content-end d-flex">
                    <form method="get" th:action="@{/models-all}">
                        <input type="text" id="keyword" name="keyword" value="" placeholder="Search ..." class="ui-autocomplete-input"
                               autocomplete="off">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>

                    <!-- acount  -->
                    <th:block sec:authorize="isAnonymous()" th:insert="~{fragments/accountNotLogged}"/>
                    <th:block sec:authorize="isAuthenticated()" th:insert="~{fragments/accounLogged}"/>

                </div>
            </div>
        </div>
    </div>
</th:block>