<th:block>
  <div id="mobile-pagemenu" class="mobile-boxpage d-flex hidden-md-up active d-md-none">
    <div class="content-boxpage col">
      <div class="box-header d-flex justify-content-between align-items-center">
        <div class="title-box">Menu</div>
        <div class="close-box">Close</div>
      </div>
      <div class="box-content">
        <nav>
          <!-- Brand and toggle get grouped for better mobile display -->
          <div id="megamenu" class="clearfix">
            <ul class="menu level1">
              <li class="item home-page has-sub">
                <a th:href="@{/}" title="Home">
                  <i class="fa fa-home" aria-hidden="true"></i>Home</a>
                <div class="subCategory collapse" id="home1" aria-expanded="true" role="status">
                </div>
              </li>
              <li class="item has-sub">
                <a th:href="@{/about-us}" title="AboutUs">
                  <i class="fa fa-address-book" aria-hidden="true"></i>AboutUs</a>

                <div class="subCategory collapse" id="blog" aria-expanded="true" role="status">
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</th:block>