<th:block>
  <div class="mobile-top-menu d-md-none">
    <button type="button" class="close" aria-label="Close">
      <i class="zmdi zmdi-close"></i>
    </button>
    <div class="tiva-verticalmenu block" data-count_showmore="17">
      <div class="box-content block-content">
        <div class="verticalmenu" role="navigation">
          <ul class="menu level1">
            <li class="item  parent">
              <a  th:href="@{/models-all?keyword=side+table}" class="hasicon" title="SIDE TABLE">
                <img th:src="@{/images/home/table-lamp.png}" alt="img">SIDE TABLE</a>
              <div class="subCategory collapse" id="SIDE-TABLE" aria-expanded="true" role="status">
              </div>
            </li>
            <li class="item  parent group">
              <a th:href="@{/models-all?keyword=fireplace}" class="hasicon" title="FI">
                <img th:src="@{/images/home/fireplace.png}" alt="img">FIREPLACE
              </a>
              <div class="subCategory collapse" id="fi" aria-expanded="true" role="status">
              </div>
            </li>
            <li class="item group-category-img parent group">
              <a th:href="@{/models-all?keyword=table+lamp}" class="hasicon" title="TABLE LAMP">
                <img th:src="@{images/home/table-lamp.png}" alt="img">TABLE LAMP</a>
              <div class="subCategory collapse" id="table-lamp" aria-expanded="true" role="status">
                <div class="item">
                  <div class="menu-content">
                  </div>
                </div>
              </div>
            </li>
            <li class="item">
              <a th:href="@{/models-all?keyword=ottoman}" class="hasicon" title="OTTOMAN">
                <img th:src="@{/images/home/ottoman.png}" alt="img">OTTOMAN
              </a>
            </li>
            <li class="item">
              <a th:href="@{/models-all?keyword=armchair}" class="hasicon" title="ARMCHAIR">
                <img th:src="@{/images/home/armchair.png}" alt="img">ARMCHAIR
              </a>
            </li>
            <li class="item">
              <a th:href="@{/models-all?keyword=cushion}" class="hasicon" title="CUSHION">
                <img th:src="@{/images/home/cushion.png}" alt="img">CUSHION
              </a>
            </li>
            <li class="item">
              <a th:href="@{/models-all?keyword=coffee+table}" class="hasicon" title="COFFEE TABLE">
                <img th:src="@{/images/home/coffee_table.png}" alt="img">COFFEE TABLE</a>
            </li>
            <li class="item">
              <a href="#" class="hasicon" title="SHELF">
                <img th:src="@{/images/home/shelf.png}" alt="img">SHELF
              </a>
            </li>
            <li class="item">
              <a th:href="@{/models-all?keyword=shelf}" class="hasicon" title="SOFA">
                <img th:src="@{/images/home/sofa.png}" alt="img">SOFA
              </a>
            </li>
            <li class="item">
              <a th:href="@{/models-all?keyword=dressing+table}" class="hasicon" title="DRESSING TABLE">
                <img th:src="@{/images/home/dressing.png}" alt="img">DRESSING TABLE</a>
            </li>
            <li class="item">
              <a th:href="@{/models-all?keyword=window+curtain}" class="hasicon" title="WINDOWN CURTAIN">
                <img th:src="@{/images/home/windown.png}" alt="img">WINDOWN CURTAIN</a>
            </li>
            <li class="item">
              <a href="#" class="hasicon" title="CHANDELIER">
                <img th:src="@{/images/home/chandelier.png}" alt="img">CHANDELIER
              </a>
            </li>
            <li class="item">
              <a th:href="@{/models-all?keyword=chandelier}" class="hasicon" title="CEILING FAN">
                <img th:src="@{/images/home/ceiling_fan.png}" alt="img">CEILING FAN</a>
            </li>
            <li class="item">
              <a href="#" class="hasicon" title="WARDROBE">
                <img th:src="@{/images/home/wardrobe.png}" alt="img">WARDROBE
              </a>
            </li>
            <li class="item">
              <a th:href="@{/models-all?keyword=floor+lamp}" class="hasicon" title="FLOOR LAMP">
                <img th:src="@{/images/home/floor_lamp.png}" alt="img">FLOOR LAMP</a>
            </li>
            <li class="item">
              <a th:href="@{/models-all?keyword=vase+flower}" class="hasicon" title="VASE-FLOWER ">
                <img th:src="@{/images/home/vase-flower.png}" alt="img">VASE-FLOWER
              </a>
            </li>
            <li class="item">
              <a th:href="@{/models-all?keyword=bed}" class="hasicon" title="BED">
                <img th:src="@{/images/home/bed.png}" alt="img">BED
              </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</th:block>