<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- about-us10:57-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Furnitica - Minimalist Furniture HTML Template</title>

    <meta name="keywords" content="Furniture, Decor, Interior">
    <meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
    <meta name="author" content="tivatheme">


    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS -->
    <th:block th:include="~{fragments/vendorCss}"></th:block>

    <!-- Template CSS -->
    <th:block th:include="~{fragments/templateCss}"></th:block>
</head>

<body id="about-us" class="blog">
<header>

    <!-- header left mobie -->
    <th:block th:insert="~{fragments/header_left_mobile}"></th:block>

    <!-- header desktop -->
    <th:block th:insert="~{fragments/header_desktop}"></th:block>
</header>

<!-- main content -->
<div class="main-content">
    <div id="wrapper-site">
        <div id="content-wrapper">

            <!-- breadcrumb -->

            <div id="main">
                <div class="page-home">
                    <div class="container">
                        <div class="about-us-content">

                            <h1 class="title-page">About Us</h1>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 right">
                                    <a href="#">
                                        <img class="img-fluid" th:src="@{images/other/1.jpg}" alt="#"/>
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 left">
                                    <div class="cms-block f-right">
                                        <h3 class="page-subheading">WHO WE ARE</h3>
                                        <p>We are Model3d, a digital platform uniting interior designers, architects,
                                            and decorators with producers of interior design elements worldwide.</p>
                                        <p>Just like other great ideas,Model3d has a background story, too.
                                            Our team of designers started developing Model3d as a solution to
                                            their biggest problem: finding the right 3D models for each project was
                                            taking too much time, energy, and financial resources. No existing platform
                                            had the solution needed, so we decided to create one for ourselves.
                                            Initially, it was an internal source of 3D models accessed only by our internal design team.</p>
                                        <a>
                                            <img class="img-fluid" th:src="@{images/other/4.png}" alt="#"/>
                                            <span>Mr. kwang shang - CEO</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 right">
                                    <div class="cms-block f-left">
                                        <h3 class="page-subheading">WHAT WE DO</h3>
                                        <p>We present 3D models of furniture, lighting, textures,
                                            works of art of world-famous brands, and much more in the format of max, obj and fbx.
                                            Manufacturers have the opportunity to represent and promote their products by uploading 3D models.</p>
                                        <p>Model3d enables brands to do MVP testing: the possibility to test their products and gain
                                            customer validation. Providing dashboard information lets brands develop their strategy and gain a competitive edge.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 left">
                                    <a href="#">
                                        <img class="img-fluid" th:src="@{images/other/2.jpg}" alt="#"/>
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 right">
                                    <a href="#">
                                        <img class="img-fluid" th:src="@{images/other/3.jpg}" alt="#"/>
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 left">
                                    <div class="cms-block f-right">
                                        <h3 class="page-subheading no-before">MEET OUR TEAM</h3>
                                        <div class="testimonials owl-carousel owl-theme owl-loaded owl-drag">
                                            <div class="item">
                                                <div class="name">William James</div>
                                                <div class="position">Designer - Stylish</div>
                                                <p>As digital design is the future, we aim to make life
                                                    joyful by combining ultimately needed tools for interior
                                                    designers in one space. We unite the design community
                                                    with producers and artists to create beautiful and functional digital space.
                                                </p>
                                            </div>
                                            <div class="item">
                                                <div class="name">Seller Smith</div>
                                                <div class="position">Web developer</div>
                                                <p>We are a digital platform that aims to digitalize the
                                                    world and its elements to give the joy of having and possessing
                                                    the newest, trendiest, and most exclusive items to all humans,
                                                    allowing them to focus on what is essential in life.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="social-content">
                                            <div class="social">
                                                <ul class="list-inline mb-0 justify-content-end">
                                                    <li class="list-inline-item mb-0">
                                                        <a href="#" target="_blank">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item mb-0">
                                                        <a href="#" target="_blank">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item mb-0">
                                                        <a href="#" target="_blank">
                                                            <i class="fa fa-google"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item mb-0">
                                                        <a href="#" target="_blank">
                                                            <i class="fa fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<th:block th:insert="~{fragments/footer}"></th:block>

<!-- back top top -->
<th:block th:insert="~{fragments/back_to_top}"></th:block>


<!-- menu mobie left -->
<th:block th:insert="~{fragments/menu_mobie_left}"></th:block>

<!-- menu mobie right -->
<th:block th:insert="~{fragments/menu_mobie_right}"></th:block>
<!-- Page Loader -->
<th:block th:insert="~{fragments/page_loader}"></th:block>

<!-- Vendor JS -->
<th:block th:insert="~{fragments/vendor_Js}"></th:block>

<!-- Template JS -->
<th:block th:insert="~{fragments/template_Js}"></th:block>
</body>


<!-- about-us11:09-->
</html>															