<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">


<!-- product-detail06:46-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Furnitica - Minimalist Furniture HTML Template</title>

    <meta name="keywords" content="Furniture, Decor, Interior">
    <meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
    <meta name="author" content="tivatheme">


    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS -->
    <th:block th:insert="~{fragments/vendorCss}"></th:block>
    <link rel="stylesheet" th:href="@{/libs/slider-range/css/jslider.css}">


    <!-- Template CSS -->
    <th:block th:insert="~{fragments/templateCss}"></th:block>


</head>

<body id="product-detail">
<header>
    <!-- header left mobie -->
    <th:block th:insert="~{fragments/header_left_mobile}"></th:block>

    <!-- header desktop -->
    <th:block th:insert="~{fragments/header_desktop}"></th:block>
</header>

<!-- main content -->
<div class="main-content">
    <div id="wrapper-site">
        <div id="content-wrapper">
            <div id="main">
                <div class="page-home">

                    <!-- breadcrumb -->
                    <div class="container">
                        <div class="content">
                            <div class="row">

                                <div class="col-sm-8 col-lg-9 col-md-9">
                                    <th:block th:object="${model}">
                                        <div class="main-product-detail" id="modelId" th:value="*{id}">
                                            <h2 th:text="*{name}">Lorem ipsum dolor</h2>
                                            <div class="product-single row">
                                                <div class="product-detail col-xs-12 col-md-5 col-sm-5">
                                                    <div class="page-content" id="content">
                                                        <div class="images-container">
                                                            <div class="js-qv-mask mask tab-content border">
                                                                <div id="item1" class="tab-pane fade active in show">
                                                                    <img th:src="@{/download-model/{id}(id=${model.getId()})}"
                                                                         alt="img">
                                                                </div>
                                                                <div id="item2" class="tab-pane fade">
                                                                    <img th:src="@{/download-model/{id}(id=${model.getId()})}"
                                                                         alt="img">
                                                                </div>
                                                                <div id="item3" class="tab-pane fade">
                                                                    <img th:src="@{/download-model/{id}(id=${model.getId()})}"
                                                                         alt="img">
                                                                </div>
                                                                <div id="item4" class="tab-pane fade">
                                                                    <img th:src="@{/download-model/{id}(id=${model.getId()})}"
                                                                         alt="img">
                                                                </div>
                                                                <div class="layer hidden-sm-down" data-toggle="modal"
                                                                     data-target="#product-modal">
                                                                    <i class="fa fa-expand"></i>
                                                                </div>
                                                            </div>
                                                            <div class="modal fade" id="product-modal" role="dialog">
                                                                <div class="modal-dialog">

                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <div class="modal-body">
                                                                                <div class="product-detail">
                                                                                    <div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-info col-xs-12 col-md-7 col-sm-7">
                                                    <div class="detail-description">
                                                        <div class="price-del">
                                                            <span class="price">Download: 1 Credit</span>

                                                        </div>

                                                        <div class="option has-border d-lg-flex size-color">
                                                            <div class="product-description">Manufacturer:</div>
                                                            <div></div>
                                                            <div class="product-description" th:text="*{manufacturer}">
                                                                GUCCI
                                                            </div>
                                                        </div>
                                                        <div class="has-border cart-area">
                                                            <div class="product-quantity">
                                                                <div class="qty">
                                                                    <div class="input-group">
                                                                        <span class="add">
                                                                            <div>
                                                                            <form th:action="@{/model-approve/{id}(id=${model.getId()})}">
                                                                               <button sec:authorize="hasRole('MODERATOR')"
                                                                                       th:if="*{approved==false}"
                                                                                       class="btn btn-primary add-to-cart add-item"
                                                                                       data-button-action="add-to-cart"
                                                                                       type="submit">
                                                                                <i class="fa fa-sign-in"
                                                                                   aria-hidden="true"></i>
                                                                                <span>Approove</span>
                                                                            </button>
                                                                                </form>
                                                                                </div>
                                                                            <form th:action="@{/download-model-user/{id}(id=${model.getId()})}">
                                                                            <button
                                                                                    class="btn btn-primary add-to-cart add-item"
                                                                                    data-button-action="add-to-cart"
                                                                                    type="submit"
                                                                                    id="myButton"
                                                                                    name="myButton"
                                                                            >
                                                                                <i class="fa fa-shopping-cart"
                                                                                   aria-hidden="true"></i>
                                                                                <span>Download</span>
                                                                            </button>
                                                                                </form>
                                                                                 <div>
                                                                            <a class="addToWishlist"
                                                                               th:href="@{/model-like/{id}(id=${model.getId()})}">
                                                                                <i class="fa fa-heart"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                                        <th:block
                                                                                                th:object="${userCredits}">
                                                                                        <div class="price-del"
                                                                                             th:if="${userCredits!=null}">
                                                                                         <span class="price"
                                                                                               th:text="|Your Credits: *{credits} / 3|">1 Credit</span>
                                                                                      </div>
                                                                                            </th:block>

                                                                                 </div>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <p class="product-minimal-quantity">
                                                            </p>
                                                        </div>
                                                        <div class="content">
                                                            <p>Categories :
                                                                <span class="content2">
                                                                    <a th:text="*{category.name}">Clothing</a>
                                                                </span>
                                                            </p>
                                                            <p>Likes :
                                                                <span class="content2">
                                                                    <a th:text="*{likes}">1</a>
                                                                </span>
                                                            </p>
                                                            <p>Downloaded :
                                                                <span class="content2">
                                                                    <a th:text="*{downloaded}">1</a>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="review">
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a data-toggle="tab" href="#description" class="active show">Description</a>
                                                    </li>
                                                    <li>
                                                        <a data-toggle="tab" href="#review">Comments</a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div id="description" class="tab-pane fade in active show">
                                                        <p th:text="*{description}">
                                                        </p>
                                                    </div>

                                                    <div id="review" class="tab-pane fade">
                                                        <div class="spr-form">
                                                            <div class="user-comment">
                                                                <div class="spr-review">
                                                                    <span id="comments"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <form method="post" action="#" class="new-review-form"
                                                              id="commentForm">
                                                            <input type="hidden" name="review[rating]" value="3">
                                                            <input type="hidden" name="product_id">
                                                            <th:block sec:authorize="isAuthenticated()">
                                                                <h3 class="spr-form-title">Write a Comment</h3>
                                                                <fieldset>
                                                                    <div class="spr-form-review-body">
                                                                        <div class="spr-form-input">
                                                                        <textarea id="message"
                                                                                  class="spr-form-input-textarea"
                                                                                  rows="10"
                                                                                  placeholder="Write your comments here"
                                                                        ></textarea>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                                <div class="submit">
                                                                    <input type="submit" name="addComment"
                                                                           id="submitComment" class="btn btn-default"
                                                                           value="Submit Comment">
                                                                </div>
                                                            </th:block>
                                                        </form>

                                                    </div>
                                                    <div id="tag" class="tab-pane fade in">
                                                        <p>
                                                        </p>
                                                        <p>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <th:block th:insert="~{fragments/footer}"></th:block>

    <!-- back top top -->
    <th:block th:insert="~{fragments/back_to_top}"></th:block>

    <!-- menu mobie left -->
    <th:block th:insert="~{fragments/menu_mobie_left}"></th:block>

    <!-- menu mobie right -->
    <th:block th:insert="~{fragments/menu_mobie_right}"></th:block>

    <!-- Vendor JS -->
    <th:block th:insert="~{fragments/vendor_Js_IndexPage}"></th:block>


    <!-- Template JS -->
    <th:block th:insert="~{fragments/template_Js}"></th:block>
    <script th:src="@{/js/comments.js}"></script>
    <script th:src="@{/js/button.js}"></script>
</div>
</body>


<!-- product-detail07:06-->
</html>